@charset "UTF-8";

.weather {
	display: flex;
	transition: background 0.5s ease;
}

.weather-info {
	width: 250px;
	height: 280px;
	margin: 20px;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.weather-info img {
	display: block;
	width: 150px;
	height: 150px;
	width: 150px;
}

.clear-day {
	background: url('images/weather/clear-day.jpg') no-repeat center center
		fixed;
	background-size: cover;
}

.clear-night {
	background: url('images/weather/clear-night.jpg') no-repeat center
		center fixed;
	background-size: cover;
}

.cloudy {
	display:block;
	background: url('images/weather/cloudy.jpg') no-repeat center center
		fixed;
	background-size: cover;
}

.rain {
	background: url('images/weather/rain.jpg') no-repeat center center fixed;
	background-size: cover;
}

.storm {
	background: url('images/weather/storm.jpg') no-repeat center center
		fixed;
	background-size: cover;
}

.snow {
	background: url('images/weather/snow.jpg') no-repeat center center fixed;
	background-size: cover;
}

.mist {
	background: url('images/weather/mist.jpg') no-repeat center center fixed;
	background-size: cover;
}