@charset "UTF-8";

.weather {
    display: flex;
    transition: background 0.5s ease;
    color: white;
    position: relative;
    overflow: hidden;
}

.weather::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; 
    animation: moveBackground 10s linear infinite;
}

/* Specific weather backgrounds */
.clear::before {
    background-image: url('/images/weather/clear-day.jpg');
}
.clouds::before {
    background-image: url('/images/weather/cloudy.jpg');
}
.rain::before {
    background-image: url('/images/weather/cloudy.jpg');
}
.snow::before {
    background-image: url('/images/weather/clear-day.jpg');
}
.thunderstorm::before {
    background-image: url('/images/weather/cloudy.jpg');
}
.weather .weather-info {
    position: relative;
    z-index: 2; 
}


@keyframes moveBackground {
    0% {
        transform: scale(1) translate(0, 0);
        transform-origin: 50% 50%;
    }
    50% {
        transform: scale(1.2) translate(-5px, -5px); 
        transform-origin: 50% 50%;
    }
    100% {
        transform: scale(1) translate(0, 0);
        transform-origin: 50% 50%;
    }
}
.weather-info{
	display: flex;
	flex-direction: column;
}


.weather-text{
	font-size: 2rem;
}

#weather-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
}

.weather-detail{
	font-size: 1.2rem;
}
