<!DOCTYPE html>



<!--/////////////////////결제선 지정 나오는 페이지-->

<head>

<style>

.work_chart{

	display: flex;
	gap: 20px;
}

.chart-left{

	width: 150px;
	height: 200px;
	border: 1px solid #191919;
	
}

.w-left-name{

	text-align: center;
	border-bottom: 1px solid #191919;
}

.w-right-var{

	width: 150px;
	height: 200px;
	border: 1px solid #191919;

}

.approvelist-name{

	text-align: center;
	border-bottom: 1px solid #191919;
}


</style>

<script> 
	
	//	subUpdate 이건 온클릭 함수 , 	element 이건 내가 클릭된 요소를 	element 매개변수로 받기
	function subUpdate(element) {
	            var organizationName = element.textContent; // 클릭된 요소의 텍스트 콘텐츠를 가져옵니다.
	            var approverList = document.getElementById('approver-list'); // 우측 결제선 지정 창의 요소를 가져옵니다.
	
	            // approver-list에서 이미 존재하는 항목인지 확인합니다.
	            var existingItem = Array.from(approverList.children).find(child => child.textContent === organizationName);
	
	            if (existingItem) {
	                // 이미 존재하는 항목이 있다면, 해당 항목을 제거합니다.
	                approverList.removeChild(existingItem);
	            } else {
	                // 새로운 div 엘리먼트를 생성하여 조직 이름을 추가합니다.
	                var newDiv = document.createElement('div');
	                newDiv.textContent = organizationName; // 텍스트 내용 설정
	                newDiv.className = 'approver-item'; // 스타일 적용
	                newDiv.onclick = function() {
	                    subUpdate(this); // 클릭 시 현재 div를 제거합니다.
	                };
	
	                approverList.appendChild(newDiv); // 우측 결제선 지정 창에 새로운 div를 추가합니다.
	            }
	        }
	
	
</script>

</head>


<!--결제서지정 버튼 클릭시 나오는 화면-->


<main>


<div class="work_chart">

<div class="chart-left">
	
	<div class="w-left-name">조직도</div>

		<div th:each="dto:${list}">
				
			<div th:text="${dto.oranization_field}"></div>
				
				
			<div th:text="${dto.oranization_name}" id="sub" onclick="subUpdate(this)"></div>
					<!--<div th:text="${dto.oranization_name}"></div-->

			
			</div>

		</div>
			
	

<div class="w-right-var">
    
        <div class="approvelist">
            <div class="approvelist-name">결제선지정</div>
            <div id="approver-list">
				 <!-- 우측 결제선 지정 창에 id 추가 -->
                <!-- 선택된 조직 이름이 여기에 추가됩니다. -->
            </div>
        
    </div>
</div>

</div>

</main>



</html>