<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>

	<link rel="stylesheet" href="/css/p-main/workflow/workflow.css">

	<script src=' /js/p-main/workflow/workflow.js'></script>

</head>



<!--work flow 메인화면-->



<main class="w-mains">



	<section class="work-container">

		<section class="w-menu">

			<a href="/workflow">전자결재</a>

			<div class="ww-btn">

				<button onclick="ToWritingPage()" class="btn">결제 작성하기</button>

			</div>



			<div class="w-update">

				<span onclick="approvalOnoff('a')">▼ 결재 상신함 </span>

				<div id="a">

					<ul>

						<li><a href="/professor/work-save">결재 진행함</a></li>

						<li>결재 완료함</li>

						<li>임시 저장</li>

					</ul>

				</div>

			</div>

			<div class="w-recive">

				<span onclick="approvalOnoff('b')">▼ 결재 수신함</span>

				<div id="b">

					<ul>

						<li>결재 요청</li>

						<li>결재 내역</li>

						<li>검토 내역</li>

						<li>대리 결재</li>

					</ul>

				</div>



			</div>



			<div class="w-file">

				<span onclick="approvalOnoff('c')">▼ 개인 보관함</span>

				<div id="c">

					<ul>

						<li>공유 폴더</li>

						<li>개인 보관함</li>

						<li>00과 보관함</li>

					</ul>

				</div>

			</div>



			<div class="w-cont">

				<span>▼ 결재 설정</span>

			</div>



		</section>



		<section class="w-main">

			<div class="w-t-name">결제 현황</div>

			<div class="w-title">

				<div class="w-boxs">

					<div>진행중 문서</div>

					<a href="#">0</a>

				</div>

				<div class="w-boxs">

					<div>결제완료 문서</div>

					<a href="#">0</a>

				</div>

				<div class="w-boxs">

					<div>안읽은 문서</div>

					<a href="#">0</a>

				</div>

			</div>



			<div class="w-t-contents">

				<div class="w-t-c-name"><span>결제 완료( )</span></div>

				<div class="w-s-contents-l">

					<ul>

						<li class="w-s-contenstl-title">

							<div>번호</div>

							<div>제목</div>

							<div>기안자</div>

							<div>승인자</div>

							<div>기안일자</div>

							<div>승인일자</div>

						</li>



					</ul>

				</div>



			</div>





		</section>



	</section>



</main>







</html>