<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>
	<link rel="stylesheet" href="/css/p-main/board.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<!--
<header>
	<h1>라라대학교</h1>
</header>-->

<main>
	<section class="container" th:each="dto:${list}">
		<div class="content-bo"></div>
		<div class="content-left">
			<div class="tit">
				<h2>게시판</h2>
				<p>nara university</p>
			</div>
			<div class="lnb">
				<dl>
					<dt>
						<a href="/board/1">자유게시판</a>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a href="/board/2">학과공지</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a href="/board/3">학사공지</a>
					</dt>
					<dd></dd>
				</dl>

			</div>

		</div>

		<div class="content">
			<div class="board_title2">
				<strong th:text="${dto.division}"></strong>
			</div>

			<div class="board_list_wrap">
				<div class="board_list">
					<div class="top">
						<div class="num">번호</div>
						<div class="title">제목</div>
						<div class="writer">글쓴이</div>
						<div class="date">작성일</div>
						<div class="count">조회</div>
					</div>

					<div th:each="dto:${list}">
						<div class="num"><span th:text="${dto.board_no}"></div>
						<div class="title"><a href="/professor/view"><span th:text="${dto.title}"></a></div>
						<div class="writer"><span th:text="${dto.username}"></span></div>
						<div class="date"><span th:text="${dto.createdAt}"></div>
						<div class="count">3</div>
					</div>
				</div>


			</div>
			<div class="board_page">
				<a href="#" class="bt first"><</a>			
						<a href="#" class="bt prev"><<</a>
								<a href="#" class="num2">1</a>
								<a href="#" class="num1">2</a>
								<a href="#" class="num1">3</a>
								<a href="#" class="num1">4</a>
								<a href="#" class="num1">5</a>
								<a href="#" class="bt next">></a>
								<a href="#" class="bt last">>></a>
			</div>
			<div class="bt_wrap">
				<a href="/board/write" class="on">글쓰기</a>

			</div>
		</div>
		</div>

	</section>
</main>

</html>