<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>
	<link rel="stylesheet" href="/css/p-main/board.css">

</head>


<main>
	<section class="container">
		<div class="content-bo"></div>
		<div class="content-left">
			<div class="tit">
				<h2>게시판</h2>
				<p>nara university</p>
			</div>
			<div class="lnb">
				<dl>
					<dt>
						<a href="/board/1">자유게시판</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a href="/board/2">학과공지</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a href="/board/3">학사공지</a>
					</dt>
					<dd></dd>
				</dl>
			</div>

		</div>

		<div class="board_wrap">
			<div class="board_title2">
				<strong th:text="${detail.division}">공지사항</strong>
			</div>
			
			
			<div class="board_write_wrap">
			<form th:action="|/board/edit/${board_no}" method="post">
			
				<div class="board_write">
					<div class="title">
						<dl>
							<dt>제목</dt>
							<dd><input type="text" name="title" th:value="${detail.title}" placeholder="제목입력"></dd>
						</dl>
					</div>

					<div class="info">
						<dl>
							<dt>작성자</dt>
							<dd name="username" th:utext="${detail.username}">
						</dl>
						<dl>
							<dt>작성시간</dt>
							<dd name="createdAt" th:text="${#temporals.format(detail.createdAt, 'yyyy-MM-dd')}">
						</dl>
					</div>

					<div class="cont" >
						<textarea placeholder="내용 입력" name="text" th:utext="${detail.text}">
						</textarea>
					</div>
				</div>
					
				<div class="bt_wrap">
					<input type="hidden" name="_method" value="put">
					<button type="submit">수정완료</button>				
					<a th:href="|/board/view/${detail.board_no}|">취소</a>
	
				</div>
				</form>
			</div>
</div>

	</section>
</main>

</html>