<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>
	<link rel="stylesheet" href="/css/p-main/board.css">
</head>

<main>
	<section class="container">
		<div class="content-bo"></div>
		<div class="content-left">
			<div class="tit">
				<h2>게시판</h2>
				<p>nara university</p>
			</div>
			<div class="lnb">
				<dl>
					<dt>
						<a>자유게시판</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a>학과공지</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a>학생공지</a>
					</dt>
					<dd></dd>
				</dl>
			</div>

		</div>


		<div class="content">
			<div class="board_title2">
				<strong>공지사항</strong>
				<p>공지사항 안내</p>
			</div>

			<div class="board_view_wrap">
				<div class="board_view">
					<div class="title">이치방팀 공지</div>
					<div class="info">
						<dl>
							<dt>번호</dt>
							<dd>1</dd>
						</dl>

						<dl>
							<dt>글쓴이</dt>
							<dd>조승범</dd>
						</dl>

						<dl>
							<dt>작성일</dt>
							<dd>2024.07.13</dd>
						</dl>

						<dl>
							<dt>조회</dt>
							<dd>14</dd>
						</dl>
					</div>
					<div class="cont">
						대학교 그룹웨어 프로젝트 마무리 기간 안내<br>
					</div>
				</div>

				<div class="comment">
					<h2>댓글</h2>
					<input type="text" placeholder="댓글을 입력하세요...">
					<button type="submit">댓글 등록</button>
				</div>

				<div class="bt_wrap">
					<a href="/board" class="on">목록</a>
					<a href="/professor/edit">수정</a>
				</div>
			</div>
		</div>
	</section>


</main>

</html>