<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>
	<link rel="stylesheet" href="/css/p-main/board.css">
</head>

<!--
<header>
	<h1>라라대학교</h1>
</header>-->

<main>
	<section class="container">
		<div class="content-bo"></div>
		<div class="content-left">
			<div class="tit">
				<h2>게시판</h2>
				<p>nara university</p>
			</div>
			
			<div class="lnb">
				<dl>
					<dt>
						<a>자유게시판</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a>학과공지</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a>학생공지</a>
					</dt>
					<dd></dd>
				</dl>
			</div>

		</div>
		<form action="/board/write" method="post">
			<input type="hidden" name="user_no" th:value="${#authentication.principal.user_no}"> 
		<div class="content">
			<div class="board_title2">
				<strong>글쓰기</strong>
				<p>글을 작성해주세요</p>
			</div>

			<div class="board_write_wrap">
				<div class="board_write">
					<div class="title">
						<dl>
							<dt>제목</dt>
							<dd><input type="text" name="title" placeholder="제목입력"></dd>
						</dl>
					</div>

					<div class="info">
						<dl>
							<dt>작성자</dt>
							<span id="userName" th:text="${#authentication.principal.name}"></span>
						</dl>
						    <dt>게시판선택</dt>
						    <dd>
						        <select name="division">
						            <option value="자유게시판">자유게시판</option>
						            <option value="학과공지">학과공지</option>
						            <option value="학사공지">학사공지</option>
						        </select>
						    </dd>
						</dl>
					</div>

					<div class="cont">
						<textarea placeholder="내용 입력" name="text"></textarea>
					</div>
				</div>

				<div class="bt_wrap">
					<button class="on" type="submit">등록</button>
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
					<a href="/board/1">취소</a>
				</div>
			</div>
		</div>
		</form>
	</section>
</main>

</html>