<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>
	<link rel="stylesheet" href="/css/p-main/board.css">
	<link rel="stylesheet" href="/css/p-main/mail.css">
	<link rel="stylesheet" href="/css/bot/bot.css" />
	<script src="/js/bot/bot.js"></script>
	
</head>

<!--
<header>
	<h1>라라대학교</h1>
</header>-->

<main>
	<section class="container">
		<div class="content-bo"></div>
		<div class="content-left">
			<div class="tit">
				<h2>메일함</h2>
				<p>nara university</p>
			</div>
			<div class="lnb">
				<dl>
					<dt>
						<a>받은 메일함</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a>안읽은 메일함</a>
					</dt>
					<dd></dd>
				</dl>

				<dl>
					<dt>
						<a>보낸 메일함</a>
					</dt>
					<dd></dd>
				</dl>
			</div>

		</div>

		<div class="container3">
			<div class="header">
				<h1>메일함</h1>
			</div>
			<ul class="mail-list">
				<li class="mail-item unread">
					<a href="/professor/mail-view" class="on"><h3>회사 프로젝트 계획</h3></a>
					<p class="sender">보낸 이: boss@company.com</p>
					<p>내용: 다음 회의 일정과 프로젝트 관련 문서를 확인하세요.</p>
					<p class="date">날짜: 2024년 7월 10일</p>
					<ul class="attachments">
						<li>첨부 파일 1</li>
						<li>첨부 파일 2</li>
					</ul>
				</li>
				<li class="mail-item">
					<h3>회의록 요청</h3>
					<p class="sender">보낸 이: secretary@company.com</p>
					<p>내용: 최근 회의록을 요청드립니다.</p>
					<p class="date">날짜: 2024년 7월 8일</p>
				</li>
				<li class="mail-item">
					<h3>상품 발송 확인</h3>
					<p class="sender">보낸 이: support@shop.com</p>
					<p>내용: 주문하신 상품이 발송되었습니다.</p>
					<p class="date">날짜: 2024년 7월 7일</p>
					<ul class="attachments">
						<li>송장 번호.pdf</li>
					</ul>
				</li>
			</ul>
		</div>
		<article th:insert="~{views/bot/bot.html}"></article>
	</section>
</main>

</html>