<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">
<head>
	<link rel="stylesheet" href="/css/p-main/calendar.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
	<main>
		<div id="sidebar">
			<ul class="sidebar-menu">			
			</ul>
		</div>
		<div id="calendar-container">
			<div class="calendar-main">
			</div>
		</div>
		</div>
</main>
</body>
</html>