<html xmlns:th="http://www.thymeleaf.org">

<header>
	<div class="header-container">
		<div class="logo">
			<a href="/lms" title="메인페이지로 이동"> <img
				src="/images/common/main-logo.png" alt="라라대학교 로고"> <span>라라대학교</span>
			</a>
		</div>
		<nav>
			<ul class="menu">
				<!-- 게시판 -->
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}"><a
					th:href="@{/board}">게시판</a></li>
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_PROFESSOR'')')}"><a
					th:href="@{/board}">게시판</a></li>

				<!-- 캘린더 -->
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}"><a
					th:href="@{/calendar}">캘린더</a></li>
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_PROFESSOR'')')}"><a
					th:href="@{/calendar}">캘린더</a></li>

				<!-- 전자결재 (교수만 보이도록) -->
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_PROFESSOR'')')}"><a
					th:href="@{/workflow}">전자결재</a></li>

				<!-- 주소록 (교수만 보이도록) -->
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_PROFESSOR'')')}"><a
					th:href="@{/contacts}">주소록</a></li>

				<!-- 수강목록 -->
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_STUDENT'')')}"><a
					th:href="@{/student/lms}">수강목록</a></li>
				<li
					th:if="${#authorization.expression('hasRole(''ROLE_PROFESSOR'')')}"><a
					th:href="@{/lms}">수강목록</a></li>
			</ul>
		</nav>
		<div class="signout">
			<form action="/logout" method="post">
				<button type="submit" title="로그아웃">
					<img src="/images/common/logout-icon.png" alt="로그아웃 아이콘">
				</button>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>
		</div>
	</div>
</header>