<link rel="stylesheet" href="/css/header.css">
<link rel="stylesheet" href="/css/s-main/s-main.css">
<header>

	<div class="header-container">
		<div class="logo">
			<a href="/main" title="메인페이지로 이동">
				<img src="/images/common/main-logo.png" alt="라라대학교 로고">
				<span>라라대학교</span>
			</a>
		</div>
		<nav>
			<ul class="menu">
				<li><a th:href="@{/mail}">메일</a></li>
				<li><a th:href="@{/notice}">게시판</a></li>
				<li><a th:href="@{/calendar}">캘린더</a></li>
				<li><a th:href="@{/workflow}">전자결제</a></li>
				<li><a th:href="@{/contacts}">주소록</a></li>
				<li><a th:href="@{/courses}">수강목록</a></li>
			</ul>
		</nav>
		<div class="signout">
			<a href="signout" title="로그아웃">
				<img src="/images/common/logout-icon.png" alt="로그아웃 아이콘">
			</a>
		</div>
	</div>
</header>