<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	th:fragment="layout(pMain,pHead)">
<head>
	
<link rel="stylesheet" href="/css/commons/header.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.2/sockjs.min.js"></script>
<meta charset="UTF-8">
<title>라라대학교</title>
<th:block th:insert="${pHead}" />
</head>
<body>
	<header th:replace="~{views/commons/header}"></header>
	<main th:replace="${pMain}">메인태그가 치환됩니다.</main>
</body>
</html>