.chatbot-container {
    position: relative;
}

.chatbot-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.chatbot-window {
    position: fixed;
    bottom: 100px;
    right: 80px;
    width: 300px;
    height: 400px;
    max-height: 600px;
    overflow: auto;
    z-index: 2;
    background: #944E63;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
}

.chatbot-header {
    background: #944E63;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatbot-body {
    width:300px;
    height:300px;
    padding: 10px;
    overflow-y: auto;
    background: #f9f9f9;
}

.chatbot-footer {
    padding: 10px;
    display: flex;
    border-top: 1px solid #ccc;
}

.input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-send {
    background: #944E63;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-send:hover {
    background: #803552;
}

.message-wrapper {
    display: flex;
    margin-bottom: 10px;
}

.message-wrapper.user {
    justify-content: flex-end;
}

.message-bubble {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    background: #e1e1e1;
}

.message-bubble.user {
    background: #007bff;
    color: white;
}

.message-time {
    display: block;
    text-align: right;
    font-size: 0.8em;
    color: #999;
}

.chatbot-icon img {
    width: 80px;
    height: 80px;
}

/* 챗봇 카테고리 버튼 스타일 */
.category-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.category-button:hover {
    background-color: #2980b9;
}

/* 챗봇 채팅 타이틀 버튼 스타일 */
.chat-title-btn {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-title-btn:hover {
    background-color: #27ae60;
}