@charset "UTF-8";

/* 챗봇 아이콘 스타일 */
.chatbot-icon {
    position: fixed;
    bottom: 70px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: var(--main-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
    z-index: 1000;
    animation: bounce 2s infinite; /* 애니메이션 추가 */
}

.chatbot-icon:hover {
    background-color: #732D49;
}

.chatbot-icon img {
    width: 100%;
    height: 100%;
}

/* 챗봇 윈도우 스타일 */
.chatbot-window {
    position: fixed;
    bottom: 190px;
    right: 60px;
    width: 360px;
    height: 480px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none; 
    flex-direction: column;
    overflow: hidden;
    z-index: 1000;
}

.chatbot-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.close-btn {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

.close-btn:hover {
    color: #732D49;
}

.chatbot-body {
	display:flex;
	flex-direction:column;
    padding: 10px;
    height: 370px;
    overflow-y: auto;
}

.chatbot-footer {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chatbot-footer button {
    width: 20%;
    height: 100%;
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.input {
    width: 100%;
    border: none;
    outline: none;
}

/* 애니메이션 정의 */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

/* 메시지 버블 스타일 */
.message-wrapper {
    margin-bottom: 10px;
}

.message-date {
    text-align: center;
    font-size: 0.8em;
    color: #888;
    margin-bottom: 5px;
}

.message-bubble {
    display: flex;
    align-items: flex-start;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 10px;
    max-width: 80%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-right: auto; /* 왼쪽 정렬 */
}

.message-icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.message-content {
    display: flex;
    flex-direction: column;
}

.message-content p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    line-height: 1.4;
}

.message-time {
    align-self: flex-end;
    font-size: 0.7em;
    color: #888;
    margin-top: 5px;
}

.message-wrapper.user {
    text-align: left; /* 텍스트 오른쪽 정렬 */
}

.message-bubble.user {
    background-color: #DCF8C6; /* 사용자 메시지의 배경색 */
    margin-left: auto; /* 오른쪽 정렬 */
    margin-right: 10px; /* 오른쪽 여백 */
}

/* 버튼 스타일링 */
.buttons {
    display: flex;
    flex-wrap: wrap; /* 필요에 따라 버튼을 여러 줄로 감쌀 수 있도록 설정 */
    justify-content: space-between; /* 가로 방향으로 공간을 균등하게 배치 */
    margin-top: 10px;
}

.btn-category {
    width: calc(50% - 10px); /* 버튼 너비를 50%로 설정하고 간격을 고려한 계산 */
    height: 50px; /* 버튼 높이 설정 */
    margin-bottom: 10px; /* 버튼 아래쪽 여백 설정 */
    border: 1px solid white;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box; /* 패딩과 테두리를 포함한 너비/높이 설정 */
}

.btn-category:hover {
    background-color: #732D49; /* 마우스를 갖다 대었을 때 배경색 변경 */
}
