@charset "UTF-8";
/* style.css */
body {
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 100px auto 50px;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
}

header {
    border: none;
    background-color: #944E63; 
    color: #fff;
    grid-area: header;
    display: flex;
    align-items: center;
    font-size: 27px;
    padding: 1em;
    overflow:hidden;
}

footer {
    border: none;
    background-color: #333;
    color: #fff;
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    font-size: 1rem;
}

main {
    border: none;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    padding: 1em;
}

.logo{
	display:flex;
	align-items:center;
}

.logo-img{
	position:relative;
	width: 135px;
    height: 135px; 
    background-image: url('/images/common/main-logo.png'); 
    background-size: cover; 
    background-position: center;
}

.logo-text{
	font-size:24px;
	font-weight: bold;
	margin:0;
}

.profile, .weather, .class {
    border: 1px solid #ccc;
    background-color: #d9ebf9;
    padding: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile {
    grid-column: 1 / span 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.profile img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 2px solid #333;
}

.profile .info {
    font-size: 1rem;
    color: #333;
}

.profile .info div {
    margin: 0.5em 0;
}

.menu-box {
    display: flex;
    gap: 1em;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100px;
    height: 30px;
    padding: 0.5em 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.menu-item:hover {
    background-color: #e3f2fd;
}

.weather {
    grid-column: 1 / span 1;
    grid-row: 2;
}

.class {
    border: 1px solid #ccc;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #d9ebf9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul.class {
    margin: 0;
    padding: 0;
    list-style: none;
}

.class li {
    background-color: #e3f2fd;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1em;
    list-style: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.class li:hover {
    background-color: #bbdefb;
}