
.container {
	display: grid;
	height:100vh;
	grid-template-areas: 
		'profile mypage' 
		'calendar mypage';
	grid-template-columns:1fr 2fr;
	grid-gap: 20px; /* 각 그리드 아이템 사이의 간격 */
}
.profile, .calendar {
	width: 400px;
}
.profile{
	grid-area: profile;
}
.calendar {
	grid-area: calendar;
	background-color: #ffffff;
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 20px;
}

.mypage {
	grid-area: mypage;
	background-color: #ffffff;
	border-radius: 1em;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border: 2px solid #ccc; /* border 추가 */
	padding: 20px;
}

