
main {
	height: 100%;
	max-width: 1700px;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-auto-rows: 250px;
	padding: 10px;
	grid-gap: 50px;
	grid-template-areas: 'content-left content content'
		'content-left content content' 
		'content-bo content content'
		
}

.content-left {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: content-left;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	border-radius: 1em;
	width: 270px;
	text-align: center;
	list-style-type: none;
}

.content-left li {
	list-style-type: none;
}

/* ===================왼쪽목록=========================== */
.tit{
	
	background-image:url("/images/common/professor/lnb_bg.png");

}

.tit > h2{
	text-align: center;
    padding-top: 31px;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
}

.tit > p{
	font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.lnb{
	
    display: flex;
    flex-direction: column;
    padding: 10px 18px 20px;
  
}

.lnb dt{
	position: relative;
    background: url(/images/common/professor/lnb_ico01.png) no-repeat 20px 17px;
    border-bottom: 1px solid #e2e2e2;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    padding: 13px 6px 13px 10px;
    margin-bottom: -1px;
    letter-spacing: -1px;
    
}

.lnb a {
	font-weight:bold;
}

/* =============내용==================
 */
 ul,li {
 	list-style:none;
 }
 
 a {
 	text-decoration:none;
 	color:inherit;
 }
 
 .content {
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: content;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	padding: 1rem;
}

.content-bo {
	grid-area: content-bo;
	padding: 1rem;
}

.board_wrap {
	width:100px;
	margin:100px auto;
}

.board_title2{
	margin-bottom:30px;
}

.board_title strong {
	font-size: 3rem;
}

.board_title p {
	margin-top: 5px;
	font-size:1.4rem;
}

.bt_wrap {
	display:flex;
	margin-top: 30px;
	text-align:center;
}

.bt_wrap a {
	display:inline-block;
	min-width:80px;
	margin-left:10px;
	padding:10px;
	border: 1px solid #000;
	border-radius: 2px;
}

.bt_wrap a:first-child {
	margin-left:0;
}

.bt_wrap a.on{
	background:#000;
	color:#fff;
}


.board_list {
	width:1000px;
	border-top: 2px solid #000;
}

.board_list > div {
	border-bottom: 1px solid #ddd;
}

.board_list > div.top {
	border-bottom: 1px solid #ddd;
}

.board_list > div:last-child {
	border-bottom: 1px solid #000;
}

.board_list > div {
    display: flex;
    align-items: center; 
    padding: 10px 0; 
}

.board_list .num {
    width: 10%;
}

.board_list .title {
    width: 60%;
    padding: 0 10px; 
    text-align:left;
}

.board_list .writer,
.board_list .date,
.board_list .count {
    width: 10%;
    text-align:center;
    
}

.board_page{
	width:1000px;
	margin-top:30px;
	text-align:center;
	
}

.board_page a {
	display: inline-block;
	width: 32px;
	height: 32px;
	box-sizing: border-box; 
	vertical-align: middle;
	border: 1px solid #ddd;
	border-left: 0;
	line-height: 100%;
}

.board_page .num2 {
	border-color:#000;
	background:#000;
	color:#fff;
	padding-top:10px;
}



.board_page a.bt{
	padding-top:10px;
	letter-spacing: -1px;
	
}

.board_page a.num1{
	padding-top:10px;
}

.board_page a:first-child{
	border-left: 1px solid #ddd;
}

