
main {
	justify-content: center;
	align-items: center;
	height: 100%;
	max-width: 1700px;
	margin: 0 auto;
}

.container {

	grid-template-areas: 'profile mail mail' 
						  'profile board1 board1'
						'calendar workflow workflow'
}

.profile, .calendar {
	width: 400px;
}
.cal_top button {
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  padding: 0 10px;
}



.cal_top button:hover {

  background-color: #f0f0f0; 
  color: #000; 
}

a {
	text-decoration: none;
	color: inherit; 
}


a:hover {
	text-decoration: none; 
	color: inherit; 
}


.board1 {
	display: flex;
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: board1;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mail {
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: mail;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workflow {
	display: flex;
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: workflow;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* ////////////////////////////////// 하단- 아이콘들 ////////////////////////////// */


#icon01 {
	background-image: url("/images/common/professor/pro1.png");
}

#icon02 {
	background-image: url("/images/common/professor/pro2.png");
}

#icon03 {
	background-image: url("/images/common/professor/pro3.png");
}

#icon04 {
	background-image: url("/images/common/professor/pro4.png");
}

/* ============캘린더=============== */

.cal_top{
	display:flex;
	justify-content: space-between;
	height:30px;
}

.calendar {
    max-width: 1000px;
    margin: 0 auto;
    height:250px;
    background-color: #ffffff;
	border-radius: 1em;
	grid-area: calendar;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.month {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

}


.daaa{
		display:flex;
		margin-left:13px;
		justify-content: space-between;
		
}

.day {
	display:flex;
	flex-direction: column;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
}

.day1{
	padding: 7px;
	margin-right: 10px;
}

.day.today {
    background-color: #f0f0f0; 
    font-weight: bold;
    color: #333; 
}

.day.empty {
    visibility: hidden;
}


/* ===================게시판========================= */
.board_name {
 	flex: 1;
	justify-content: center;
	align-items: center;
	width:200px;
	margin:4em;
}

.board_title, .workflow_title {
	display: inline-block;
	width: 60px;
	height:60px;
	background-size: cover;
	background-position: center;
	margin-bottom:20px;
    
}
.board_title{
	background-image: url("/images/common/professor/notice1.png");
}
.na{

    text-align: center;
}

.bo1{
	margin-top:50px;
}



.notice {
	
	flex: 8;
    border: 1px solid #e0e0e0; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1000px; 
    overflow: hidden;
}

.notice_title {
	display:flex;
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    margin-top: 40px;
    text-align: center;
    
}

.notice_content {
    font-size: 14px;
    line-height: 1.5; 
    color: #555; 
    text-align: left; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 7;	
    -webkit-box-orient: vertical;
}

/* .notice_content ul {
    list-style-type: none; 
    padding-left: 0; 
}

.notice_content li {
    border-bottom: 1px solid #ebebec;
    padding: 10px 0; 
}
 */
.not, .no {
	
	flex: 1;
	padding: 1em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #ccc;
	color: #191919;
}

.not1{
	flex: 1;
	padding: 1em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #191919;
}


.no01, .no02, .no03, .wo01, .wo02, .wo03  {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
}

.no01 {

	background-image: url("/images/common/professor/no01.png");

}

.no02 {

	background-image: url("/images/common/professor/no02.png");

}

.no03 {
	background-image: url("/images/common/professor/no03.png");
}
/* ----------------------메일----------------------------------- */

@keyframes bounce {
	0%,50%,100% {
		transform: translateY(0);
	}
	20% {
	transform: translateY(-10px);	
	
	}
	40% {
	transform: translateY(-5px);
	}
	
}


.mail{
	display: flex;
}

.mail_name {
	flex: 1;
	justify-content: center;
	align-items: center;
	width:200px;
	margin:4em;
	margin-top:50px;
}

.ma {
	text-align: center;
	animation: bounce 2s 1;
}

.mail_title{
	display: inline-block;
	width: 60px;
	height:60px;
	background-image: url("/images/common/professor/mail.png");
	background-size: cover;
	background-position: center;
	margin-bottom:20px;
	
}



.mail_notice{
	flex: 8;
    background-color: #f9f9f9; 
    border: 1px solid #e0e0e0; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1000px; 
    overflow: hidden;
}

.notice1{
	display:flex;
    font-size: 20px;  
    color: #333; 
    margin-bottom: 10px;
    text-align: center;
}

.ma2 {
	display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ebebec;
    
}

.ma2 li {
 	display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    
}

.ma2 li:hover {
    color: #944e63;
    cursor: pointer; 
}

.mail_content{
	font-size: 14px;
    line-height: 1.5; 
    color: #555; 
    text-align: left; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 7;	
    -webkit-box-orient: vertical;
}

.mail_content ul {
	
    list-style-type: none; 
    padding-left: 0; 
}

.mail_content li {
    border-bottom: 1px solid #ebebec;
    padding: 10px 0; 
}

/* =================전자 결재====================== */

.work {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	padding:1em;
	margin-top:20px;
		
}

.flow {
	
	display: flex;
	margin-top: 10px;

}

.fl{
	text-align: center;
	margin-top:60px;
	margin-left:60px;
	
}

.wo {
	
	flex: 1;
	padding: 1em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #ccc;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
}

.wo:last-child {
	border-right: none; /* 마지막 요소의 border-right 제거 */
}

.workflow_title{
	background-image: url("/images/common/professor/workflow.png");
}

.wo01 {
	background-image: url("/images/common/professor/wo01.png");
}

.wo02 {
	background-image: url("/images/common/professor/wo02.png");
}

.wo03 {
	background-image: url("/images/common/professor/wo03.png");
}
