* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
	display: grid;
	height: 100vh;
	background: #f3f3f3;
}

header {

	background-color: #944e63;
}

main {
	justify-content: center;
	align-items: center;
	height: 100%;
	max-width: 1700px;
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr;
	grid-auto-rows: 250px;
	padding: 10px;
	grid-gap: 20px;
	grid-template-areas: 'profile board board' 'profile mail mail'
		'calendar workflow workflow'
}

.profile, .calendar {
	width: 400px;
}

.profile {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: profile;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar {
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: calendar;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board {
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: board;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mail {
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: mail;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.workflow {
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: workflow;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#img {
	width: 110px;
	height: 110px;
	border-radius: 15%;
	position: absolute;
	bottom: 0px; /* 아래쪽에 배치 (백그라운드 이미지의 아래쪽에서 10px 위) */
	left: 50%; /* 수평 중앙 정렬 */
	transform: translateX(-50%); /
}

.pro-back {
	border-top-left-radius: 1em; 
	border-top-right-radius: 1em;
	position: relative;
	height: 200px;
	background-image: url("/images/common/professor/info_bg.png");
}

.name {
	margin-top: 10px;
	text-align: center;
	justify-content: center;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
}

.name>p {
	font-size: 24px;
	font-weight: 400;
}

/* /////////////////////중간 - 마이페이지 버튼////////////////////// */
.btn-box {
	margin-top: 10px;
	display: flex;
	gap: 1em;
	justify-content: center;
}

.box1 {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	border: 1px solid #ccc;
	border-radius: 4px;
	cursor: pointer;
}

.box1:hover {
	background-color: #e3f2fd;
}

.box1>a {
	text-decoration: none;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
}

/* ////////////////////////////////// 하단- 아이콘들 ////////////////////////////// */
.info {
	display: flex;
	flex: 1;
	margin-top: 10px;
	justify-content: space-between;
}

.icons {
	flex: 1;
	display: flex;
	margin-top: 10px;
}

.co {
	flex: 1;
	padding: 1em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
}

.co:last-child {
	border-right: none; /* 마지막 요소의 border-right 제거 */
}

.icon01 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/pro1.png");
	background-size: cover;
	background-position: center;
}

.icon02 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/pro2.png");
	background-size: cover;
	background-position: center;
}

.icon03 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/pro3.png");
	background-size: cover;
	background-position: center;
}

.icon04 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/pro4.png");
	background-size: cover;
	background-position: center;
}

.month {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 10px; 
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7개의 열을 가진 그리드 생성 */
    gap: 5px;
}

.day {
    
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin: auto;
    cursor: pointer; /* 클릭 가능하도록 커서 설정 */
}

.day:nth-child(n+8) {
    color: #999; /* 주말은 회색으로 표시 */
}

/* 오늘 날짜 스타일링 */
.day.today {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.board {
    display: flex;
    
}

.board_name {
 	flex: 1;
	justify-content: center;
	align-items: center;
	width:200px;
	margin:4em;
	margin-top:50px;
}

.board_title {
	display: inline-block;
	width: 60px;
	height:60px;
	background-image: url("/images/common/professor/notice1.png");
	background-size: cover;
	background-position: center;
	margin-bottom:20px;
    
}

.na{

    text-align: center;
}

.bo1{
	margin-top:50px;
}
.no1 {
	display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ebebec;
}

.no1 li {
 	display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    
}

.no1 li:hover {
    color: #944e63;
    cursor: pointer; 
}

.notice {
	
	flex: 8;
    background-color: #f9f9f9; 
    border: 1px solid #e0e0e0; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1000px; 
    overflow: hidden;
}

.notice_title {
	display:flex;
    font-size: 20px; 
    font-weight: bold;
    color: #333; 
    margin-bottom: 10px;
    text-align: center;
    
}

.notice_content {
    font-size: 14px;
    line-height: 1.5; 
    color: #555; 
    text-align: left; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 7;	
    -webkit-box-orient: vertical;
}

.notice_content ul {
    list-style-type: none; 
    padding-left: 0; 
}

.notice_content li {
    border-bottom: 1px solid #ebebec;
    padding: 10px 0; 
}
/* ----------------------메일----------------------------------- */

@keyframes bounce {
	0%,50%,100% {
		transform: translateY(0);
	}
	40% {
	transform: translateY(-10px);	
	
	}
	60% {
	transform: translateY(-5px);
	}
	
}


.mail{
	display: flex;
}

.mail_name {
	flex: 1;
	justify-content: center;
	align-items: center;
	width:200px;
	margin:4em;
	margin-top:50px;
}

.ma {
	text-align: center;
	animation: bounce 5s 1;
}

.mail_title{
	display: inline-block;
	width: 60px;
	height:60px;
	background-image: url("/images/common/professor/mail.png");
	background-size: cover;
	background-position: center;
	margin-bottom:20px;
	
}

.mail_notice{
	flex: 8;
    background-color: #f9f9f9; 
    border: 1px solid #e0e0e0; 
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    max-width: 1000px; 
    overflow: hidden;
}

.notice1{
	display:flex;
    font-size: 20px;  
    color: #333; 
    margin-bottom: 10px;
    text-align: center;
}

.ma2 {
	display: flex;
    list-style-type: none; 
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #ebebec;
    
}

.ma2 li {
 	display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    
}

.ma2 li:hover {
    color: #944e63;
    cursor: pointer; 
}

.mail_content{
	font-size: 14px;
    line-height: 1.5; 
    color: #555; 
    text-align: left; 
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 7;	
    -webkit-box-orient: vertical;
}

.mail_content ul {
	
    list-style-type: none; 
    padding-left: 0; 
}

.mail_content li {
    border-bottom: 1px solid #ebebec;
    padding: 10px 0; 
}

/* =================전자 결재====================== */

.work {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	padding:1em;
	margin-top:20px;
	
}

.flow {
	flex: 1;
	display: flex;
	margin-top: 10px;
}

.fl{
	text-align: center;
	margin-top:60px;
	margin-left:30px;
}

.wo {
	
	flex: 1;
	padding: 1em;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #ccc;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
}

.wo:last-child {
	border-right: none; /* 마지막 요소의 border-right 제거 */
}

.wo01 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/wo2.png");
	background-size: cover;
	background-position: center;
}

.wo02 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/wo1.png");
	background-size: cover;
	background-position: center;
}

.wo03 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/common/professor/wo3.png");
	background-size: cover;
	background-position: center;
}
