main {
  
  height: 100%; 
  max-width: 1500px; 
  margin: 0 auto; 
  
}

.w-container{
	
	display: grid;
	grid-template-columns:1fr 2fr 2fr;
	grid-auto-rows:900px;
	padding: 10px;
	grid-gap:20px;
	grid-template-areas:
	'w-menu w-main w-main'
	
}

.w-menu, .w-main{
	
	
	background-color: #ffffff;
}


.w-menu{
	
	display: flex;
 	flex-direction:column;
	border-radius: 1em;
	grid-area: w-menu;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	position: relative;
	
}

.w-main{
	
	display: flex;
 	flex-direction:column;
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: w-main;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
}

/* //////////////////////////////////화면 구성 끝///////////////////////// */

/* //////////왼쪽 menu 바 구성///// */


.w-menu > span {
	
	font-size: 20px;
	padding: 1em;
	background-color: #e9e9e9;
}

.ww-btn{
	
	padding: 1em;
	margin: 0 auto;
	border-bottom: 1px solid #f3f3f3;
}

/* //버튼태그 공통 css에 있는걸로 바꿔주기// */
.w-btn{
	
	width:200px;
	padding: 1em;
	color: #191919;
	background-color: #ffffff;
}



.w-update, .w-recive, .w-file, .w-cont > span{

	font-size: 18px;
	cursor: pointer;
}

#a,#b,#c >ul>li{
	font-size: 16px;
	line-height:2;
	cursor: pointer;
}


.w-update, .w-recive, .w-file, .w-cont{
	padding: 1em;
	border-bottom: 1px solid #f3f3f3;
}

.w-update{
	
	border-bottom: 1px solid #f3f3f3;
}



#a , #b ,#c{  /* 자바스크립트 최초 숨기는 옵션 */
	
	display: none;
}