
/* /////////////////////////화면 구성/////////////////// */

main {
 
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  max-width: 1700px; 
  margin: 0 auto; 
  
}

.container{
	

	grid-template-areas:
	'profile shed shed'
	'profile shed shed'
	'weather board class-list'
	
}

.profile , .weather{
	width: 400px;
} 



.weather{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: weather;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
	
}

.shed{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: shed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 
}



.class-list{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: class-list;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* /////////////////////////////////////화면 구성 끝//////////////////////////////////// */





/* /////////////////////중간 - 마이페이지 버튼////////////////////// */






/* ////////////////////////////////// 하단- 아이콘들 ////////////////////////////// */








#icon01 {
	
	
	background-image: url("/images/s-main/학점.png");
	
}

#icon02{

	background-image: url("/images/s-main/상담 11.png");
	
	
}

#icon03{
	
	background-image: url("/images/s-main/마일리지.png");
	
}

#icon04{
	
	background-image: url("/images/s-main/출결.png");
	
	
}




/* /////////////////////////////프로필 끝 /////////////////// */



/* ///////////////////////////////날씨 css////////////////////////// */

.weather-weather{
	
	
}

.weather-top{
	
	margin:1em;
	font-size: 20px;
}

.weather-top > a{
	text-decoration: none;
	color: #191919;
	font-weight: 900;
}


/* /////////////////////////////////시간표 css/////////////////////// */

#calendar {

	
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    overflow: auto; 

}


/* /////////////////////////////////게시판 css/////////////////////// */

.s-board{
	
	display: flex;
	max-width: 600px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	
}
.s-b-mains{

	border-right: 1px solid #f3f3f3;

}

.s-board>div{
	
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
}

.board-img1{
	
	display:block;
	padding: 2em;


}

.board-01{
	
	display:block;
	background-image: url("/images/common/professor/notice1.png");
	width: 70px;
	height: 70px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
}

.board-img2 , .board-img3, .board-img4{
	
	padding: 2em;
	
}

.board-img2 > a{
	
	text-decoration: none;
	color: #191919;
}


.board-02{
	
	display:block;
	background-image: url("/images/common/professor/no01.png");
	width: 70px;
	height: 70px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	
	
}

.board-img3 > a{
	
	text-decoration: none;
	color: #191919;
	
}

.board-img4 >a{
	text-decoration: none;
	color: #191919;
}


.board-03{
	
	display:block;
	background-image: url("/images/common/professor/no02.png");
	width: 70px;
	height: 70px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	
	
}



.board-04{
	
	display:block;
	background-image: url("/images/common/professor/no03.png");
	width: 70px;
	height: 70px;
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	
	
}


/* /////////////////////////////////수강목록 css/////////////////////// */
.class-list-top{
	
	margin:1em;
	font-size: 20px;
}

.class-list-top > a{
	text-decoration: none;
	color: #191919;
	font-weight: 900;
}

.class-list-menu{
	
	display: flex;
	height: 30px;
	justify-content: center;
	align-items: center; 
	border-top:1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
	
}

.class-list-menu > div{
	
	margin: 0 auto;
	text-align: center;
	
}





