
/* //////////////////////////////////화면 구성 //////////////////////////// */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body, html {
 display: grid;
  height: 100vh; 
  background: #f3f3f3;
}

header{
	
	background-color: #944e63;
	height: 100px;
}

.main {
  
  
  justify-content: center; 
  align-items: center; 
  height: 100%; 
  max-width: 1500px; 
  margin: 0 auto; 
  
}

.container{
	
	display: grid;
	grid-template-columns:1fr 2fr 2fr;
	grid-auto-rows:250px;
	padding:10px;
	grid-gap:20px;
	grid-template-areas:
	'profile shed shed'
	'profile shed shed'
	'weather board class-list'
	
}

.profile , .weather{
	width: 400px;
} 

.profile{
 	
 	display: flex;
 	flex-direction:column;
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: profile;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		
}

.weather{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: weather;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	
	
}

.shed{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: shed;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: board;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.class-list{
	background-color: #ffffff;
	border-radius: 1em;
	grid-area: class-list;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/* /////////////////////////////////////화면 구성 끝//////////////////////////////////// */


/* ///////////////////////////////////프로필 상단////////////////////////////////////////// */

#img{
	
	width: 110px;
	height: 110px;
	border-radius: 15%;
	position: absolute;
	bottom: 0px; /* 아래쪽에 배치 (백그라운드 이미지의 아래쪽에서 10px 위) */
    left: 50%; /* 수평 중앙 정렬 */
    transform: translateX(-50%); /* 수평 중앙 정렬 보정 */
	
		
}
.pro-back{

	border-top-left-radius:1em; /* 이거 없으면 위쪽만 둥근 네모가 아님 */
	border-top-right-radius:1em;
	position: relative;
	height: 200px;
	background-image: url("/images/s-main/백그라운드2.png");

}

.name{
	
	margin-top:10px;
	text-align: center;
	justify-content: center;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
}
.name > p{
	
	font-size: 24px;
	font-weight: 400;
}

/* /////////////////////중간 - 마이페이지 버튼////////////////////// */

.btn-box {
	
	margin-top:10px;
	display: flex;
    gap: 1em;
    justify-content: center; 
   

}

.box1{
	
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 200px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    
}
.box1:hover {
    background-color: #e3f2fd;
}


.box1 > a {
	
	text-decoration: none;
	color: #191919; /* 공통css가 없어 일단 폰트 새 넣은것 */
	
}



/* ////////////////////////////////// 하단- 아이콘들 ////////////////////////////// */

.info{
	display:flex;
	flex:1;
	margin-top:10px;
	justify-content:space-between;
}

.icons{
	flex:1;
	display: flex;
	margin-top:10px;
		
}


.icon{
	
  	flex:1;
	padding: 1em;
	list-style-type: none;
	display:flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center; 
	border-top:  1px solid #ccc;
	border-right: 1px solid #ccc;	
	color: #191919;  /* 공통css가 없어 일단 폰트 새 넣은것 */
	
		
}

.co:last-child {
    border-right: none; /* 마지막 요소의 border-right 제거 */
}



.icon01 {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/s-main/학점.png");
	background-size: cover;
	background-position: center;
	
}

.icon02{
	display:inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/s-main/상담 11.png");
	background-size: cover;
	background-position: center;
	
}

.icon03{
	display:inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/s-main/마일리지.png");
	background-size: cover;
	background-position: center;
	
}

.icon04{
	display:inline-block;
	width: 50px;
	height: 50px;
	background-image: url("/images/s-main/출결.png");
	background-size: cover;
	background-position: center;
	
}




/* /////////////////////////////프로필 끝 /////////////////// */



/* ///////////////////////////////날씨 css////////////////////////// */

.weather-top{
	
	margin:1em;
	font-size: 20px;
}


/* /////////////////////////////////시간표 css/////////////////////// */


 body {
    margin: 40px 10px;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #calendar {
    max-width: 900px;
    margin: 0 auto;
  }

/* /////////////////////////////////게시판 css/////////////////////// */
.board-top{
	
	margin:1em;
	font-size: 20px;
}

/* /////////////////////////////////수강목록 css/////////////////////// */
.class-list-top{
	
	margin:1em;
	font-size: 20px;
}






