<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{::head}) }">

<head>
	<meta charset="UTF-8">
	<title>라라대학교</title>
	<link rel="stylesheet" href="/css/s-main/s-main.css">
	
	<link href='/js/s-main/packages/core/main.css' rel='stylesheet' />
	<link href='/js/s-main//packages/daygrid/main.css' rel='stylesheet' />
	<link href='/js/s-main/packages/timegrid/main.css' rel='stylesheet' />
	<link href='/js/s-main/packages/list/main.css' rel='stylesheet' />
	
	
	
	<script src='/js/s-main/packages/core/main.js'></script>
	<script src='/js/s-main/packages/interaction/main.js'></script>
	<script src='/js/s-main/packages/daygrid/main.js'></script>
	<script src='/js/s-main/packages/timegrid/main.js'></script>
	<script src='/js/s-main/packages/list/main.js'></script>
	
	<script src=' /js/s-main/calendar.js'></script>
	
</head>


	

	<main class="main">
		<section class="container">

			<div class="profile">

				<div class="pro-back">
					<img src="/images/s-main/프로필 사진.jpg" id="img">
				</div>

				<div class="name">
					<p>김라라	(2024001795)</p>
					<span>컴퓨터공학과라라</span><br>
					<span>접속IP:</span>
				</div>

				<div class="btn-box">
					<div class="box1">
						<a href="#">마이페이지</a>
					</div>
				</div>

				<div class="info">
					<div class="icons">
						<div class="icon">
							<span class="icon01"></span>
							<br>
							<span id="Cnt1">12/20</span>
							이수학점
						</div>

						<div class="icon">
							<span class="icon02"></span>
							<br>
							<span id="Cnt2">준비중</span>
							상담
						</div>

						<div class="icon">
							<span class="icon03"></span>
							<br>
							<span id="Cnt3">10</span>
							마일리지
						</div>


						<div class="icon"><span class="icon04"></span>
							<br>
							<span id="Cnt4">-</span>
							인증현황
						</div>
					</div>

				</div>

			</div>

			<div class="weather">
				<div class="weather-top">
					<a href="#">오늘날씨</a>
				</div>
			</div>
			
			<div class="shed">	
				<div id='calendar'>
				</div>
		 </div>
		 
		 
			<div class="board">		
				<div class="board-top">
					<a href="#">게시판</a>
				</div>
				<div class="board-bot">
					<ul >
						<li class="board-menu">
							<div>번호</div>
							<div>제목</div>
							<div>등록일</div>
							<div>조회수</div>
						</li>
					</ul>
				</div>
			</div>
			
			
			<div class="class-list">
				<div class="class-list-top">
					<a href="#">수강목록</a>
				</div>
				<div class="class-list-bot">
					<ul >
						<li class="class-list-menu">
							<div>수강과목</div>
							<div>교수명</div>
							<div>강의실</div>
							
						</li>
					</ul>
			</div>
		</section>

	</main>




</html>
