<!DOCTYPE html>
<!--<html xmlns:th="http://www.thymeleaf.org" th:replace="~{views/commons/layout :: layout(~{::main} , ~{}) }">
-->
<head>
	<meta charset="UTF-8">
	<title>라라대학교</title>
	<link rel="stylesheet" href="/css/s-main/s-main.css">
</head>

<body>
	<header>
		<h1>라라대학교</h1>
	</header>

	<main class="main">
		<section class="container">

			<div class="profile">

				<div class="pro-back">
					<img src="/images/s-main/프로필 사진.jpg" id="img">
				</div>

				<div class="name">
					<p>김라라	(2024001795)</p>
					<strong>컴퓨터공학과라라</strong><br>
					<span>접속IP:</span>
				</div>

				<div class="btn-box">
					<div class="box1">
						<a href="#">마이페이지</a>
					</div>
				</div>

				<div class="info">
					<div class="icons">
						<div class="icon">
							<span class="icon01"></span>
							<br>
							<span id="Cnt1">12/20</span>
							이수학점
						</div>

						<div class="icon">
							<span class="icon02"></span>
							<br>
							<span id="Cnt2">준비중</span>
							상담
						</div>

						<div class="icon">
							<span class="icon03"></span>
							<br>
							<span id="Cnt3">10</span>
							마일리지
						</div>


						<div class="icon"><span class="icon04"></span>
							<br>
							<span id="Cnt4">-</span>
							인증현황
						</div>
					</div>

				</div>

			</div>

			<div class="weather">
				<div class="weather-top">
					<b>오늘 날씨</b>
				</div>
			</div>
			
			<div class="shed">			
				<div class="shed-top">
					<b>시간표</b>
				</div>
		 </div>
		 
		 
			<div class="board">		
				<div class="board-top">
					<b>게시판</b>
				</div>
				<div class="board-bot">
					<ul class="board-menu">
						<li>제목</li>
						<li>작성자</li>
						<li>등록일</li>
					</ul>
				</div>
			</div>
			
			
			<div class="class-list">
				<div class="class-list-top">
					<b>수강목록</b>
				</div>
			</div>
		</section>

	</main>


</body>

</html>